:root {
    --Color-fondo-principal: rgba(245, 212, 227, 0.68);
    --Color-fondo-nav: rgb(237, 190, 239);
    --Color-fondo-enlace: rgb(250, 119, 222);  
    --Color-fuente-headings:  
    --Color-fuente-headings:  
    --Color-fuente-headings: 
}
:visited {
   text-decoration: none;
   color: none;
}
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
.sombra {
    -webkit-box-shadow: 2px 1px 20px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 1px 20px -6px rgba(0,0,0,0.75);
    box-shadow: 2px 1px 20px -6px rgba(0,0,0,0.75);
}
h1, h2, h3 {
    /*color:#eeebf2f1;*/
    text-shadow: 1px 2px rgb(11, 10, 11);
    font-family: 'Harlow-Solid-Italic';
}
h1 {
    font-weight: bold;
    font-size: 3rem;
    color: rgb(250, 149, 231);
}
/**WHATSPP**/


.boton__redes {
    width: fit-content;
    height: fit-content;
    position: fixed;
    bottom: 0;
    left: 0;

}
.whatsapp {

    transform: scale(1.3);
    

}
.whatsapp img:hover{
    transition: all 300ms;
    transform: scale(1.5);
}
/**FIN DE WASAP**/

/*INSTAGRAM BOTON*/
.instagram__boton img{
    height: 6rem;


}
.instagram__boton img:hover{
    transition: all 300ms;
    transform: scale(1.5);
}
/*INSTAGRAM BOTON FINNNN*/
body {
   
    text-align: center;
    font-family: 'Harlow-Solid-Italic';
    background-image: linear-gradient(to top, white 0%, var(--Color-fondo-nav)  100%);
}

.gpsicon {
    
    width: 3rem;
    height: 3rem;
   

}

span {
    font-size: 80%;
    padding-bottom: 30px;
}
p {
    font-size: 80%;
}
 header {
    margin: 0 auto;
    height: 250px;
    width: 96%;
    background: url(header5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 0rem;
    padding-bottom: 1rem;
    border-radius: 1rem;
    
    color:#eeebf2f1;
    text-shadow: 1px 2px rgb(11, 10, 11);
    font-family: 'Harlow-Solid-Italic';
}

.header1 {
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    display: flex;
    background-color: rgba(250, 249, 249, 0.133);
    background-size: cover;
    width: 100%;
    height: 100%;
}
/**LOGO HEADER**/
.logo {
    height: 10rem;
   
    margin-bottom: -77px;
    
}
/** fin LOGO HEADER**/


/**NAVEGADOR HEADER*/

.nav-bar2 {
   
    display: flex;
    
}

.nav-bar {
    position: fixed;
    top: 0px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding-top: 0.5rem;
    padding-bottom: 0rem;
    background-image: linear-gradient(to top, rgba(255, 231, 249, 0.925) 5%, rgba(209, 77, 161, 0.783) 95%);
    background-color: rgba(246, 174, 249, 0);
    text-shadow: 1px 1px rgb(147, 47, 248);
    color: var(--Color-fondo-enlace);
    border-radius: 1rem;
    border-bottom: 4px solid #ac7becb7;
    margin-bottom: 8px;
    
}
nav a:hover, .nav__bar--activo {
    color: var(--Color-fondo-enlace);
    /*background-color:rgba(137, 43, 226, 0.707);*/
    border-radius: 90px;
   
    transition: all 200ms;
    transform: scale(1.35);

    text-shadow: 2px 1px rgba(0, 0, 0, 0.319);
}
nav img:hover {
    transition: all 200ms;
    transform: scale(1.25);

    
}
.header__icon {
    height: 1.5rem;
    width: 1.5rem;
}
nav a {
    font-family: 'Harlow-Solid-Italic';
    margin-right: 3rem;
    text-decoration: none;

    font-size: 1.7rem;
}
a {
    text-decoration: none;
}
:visited{
    color: none;
}  

.span1 {
    margin-top: 43px;
    display: flex;
    align-items: flex-end;
    font-size: 1.2rem;
}
.container-serv {
    /*CONTENEDOR PRICIPAL MAIN*/
    max-width: 90%;
    min-width: 90%;
    margin-top: 2px;
    /*display: flex;*/
    margin: 0 auto;
    border-radius: 1rem;
    background-image:url(globos.png);
    background-size: cover;
    background-position: center;
    height: 100%;
    
   

}

.container-serv__portafolio {
    /*CONTENEDOR PRICIPAL portafolios*/
 width: 90%;
 height: 100%;
 background-image:url(globos.png);
 background-size: contain;
 background-repeat: ;   
}

.serv-contenido p {
    font-size: 1rem;
}
.serv-contenido {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
    column-gap: 10px;
    /*display: flex;*//**probando grid**/
    background-color: rgba(58, 60, 58, 0.584);
   width: 100%;
   height: fit-content;
    border-radius: 1rem;
    padding: 0px 32px 14px 32px;
}
/**boxes servicio**/
.box {
    border-radius: 0.6rem;
    margin: 5px;
    padding: 10px;
    background-image: linear-gradient(to top,rgba(190, 71, 230, 0.356) 30%, rgba(225, 240, 115, 0) 70%);

}
.box:hover {
    color: black;
    background-color: #f6f6f0a0;
    transition: all 200ms;
    transform: scale(1.25);
    
    
}
.box p:hover {
    color:black;
    text-shadow: none;
}
.box h3 {
    color:rgb(214, 212, 214);
    text-shadow: 1px 2px rgb(103, 56, 103);

    /*background-color: rgba(249, 250, 249, 0.847);*/
    
}
.box p {
    color:#eeebf2f1;
    text-shadow: 1px 2px rgb(11, 10, 11);
}
.container-serv h2 {
    
    font-size: 3.5rem;
    margin-bottom: 2px;
    color: var(--Color-fondo-enlace);
    text-shadow: 1px 2px rgb(116, 39, 116);
    
}


.contacto-div {
    grid-column: 1 / 4;
    background-color: rgba(240, 248, 255, 0.388);
    color:#eeebf2f1;
    text-shadow: 1px 2px rgb(246, 244, 246);
    border-radius: 1rem;
}
.form-contacto {
    /**position: relative;
    width: fit-content;
    margin: 0 auto;**/
 
    
}
fieldset {
    border: none
}
input {
    background-color: var(--Color-fondo-nav);
    border-radius: 40px;
    width: 100%;
    border: none;
}
textarea {
    background-color: var(--Color-fondo-nav);
    width: 100%;
    border: none;
}
/**CONTENEDORCAMPOS*/
.contenedor__campo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
.contenedor__campo--mensaje {
    grid-column: 1 / 4;

}

/**STILOS PORTAFOLIO**//**STILOS PORTAFOLIO**//**STILOS PORTAFOLIO**//**STILOS PORTAFOLIO**//**STILOS PORTAFOLIO**/
/**STILOS PORTAFOLIO**//**STILOS PORTAFOLIO**//**STILOS PORTAFOLIO**//**STILOS PORTAFOLIO**//**STILOS PORTAFOLIO**/
/**STILOS PORTAFOLIO**//**STILOS PORTAFOLIO**//**STILOS PORTAFOLIO**//**STILOS PORTAFOLIO**//**STILOS PORTAFOLIO**/


.span__h2 {
    font-size: 1rem;
}

.serv-contenido__portafolio {                                   /**STILOS PORTAFOLIO**/
    display: flex;                                              /**STILOS PORTAFOLIO**/
    flex-direction: column;

}

.mini-bar__portafolio {
    background-image: linear-gradient(to top, rgb(237, 232, 234) 30%, rgba(255, 192, 203, 0.082) 70%);

    display: flex;
    justify-content: space-evenly;
    font-size: 1.5rem;
}
.serv-contenido__portafolio del{
    font-size: 1.4rem;
}


.serv-contenido__portafolio--piñatas {
    display: grid;
    grid-template-columns: repeat(4, 1fr);


    grid-template-rows: 120px repeat(6, 1fr);
    gap: 10px;

}



.serv-contenido__portafolio--candyBarCompletoSemiOvalo h2 {

    grid-column: 1 / 5;
}
.serv-contenido__portafolio--candyBarCompletoSemiOvalo p, .serv-contenido__portafolio--candyBarCompletoCircular p{
    font-size: 1.7rem;
    margin: 0 auto;
}


.serv-contenido__portafolio--candyBarCompletoSemiOvalo, .serv-contenido__portafolio--candyBarCompletoCircular {
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);


    grid-template-rows: repeat(3, 1fr);
    row-gap: 80px;
    column-gap: 20px;
    
    color: white;
    font-size: 3rem;
    text-shadow: 1px 2px rgb(11, 10, 11);
}

/*.serv-contenido__portafolio--candyBarCompletoSemiOvalo :nth-child(4) {
    
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}
.serv-contenido__portafolio--candyBarCompletoSemiOvalo :nth-child(6) {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}
.serv-contenido__portafolio--candyBarCompletoSemiOvalo :nth-child(7){ 
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}
.serv-contenido__portafolio--candyBarCompletoSemiOvalo :nth-child(8) {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
}

.serv-contenido__portafolio--candyBarCompletoSemiOvalo :nth-child(9) {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
}
.serv-contenido__portafolio--candyBarCompletoSemiOvalo :nth-child(10) {
    grid-column: 3 / 4;
    grid-row: 4 / 5;*/

/*CONTENIDO GALERIA CANDY BAR OVALO*//*CONTENIDO GALERIA CANDY BAR OVALO*//*CONTENIDO GALERIA CANDY BAR OVALO*//*CONTENIDO GALERIA CANDY BAR OVALO*/


/*CONTENIDO GALERIA CANDY BAR CIRCULAR*//*CONTENIDO GALERIA CANDY BAR CIRCULAR*//*CONTENIDO GALERIA CANDY BAR CIRCULAR*//*CONTENIDO GALERIA CANDY BAR CIRCULAR*/
/*CONTENIDO GALERIA CANDY BAR CIRCULAR*//*CONTENIDO GALERIA CANDY BAR CIRCULAR*//*CONTENIDO GALERIA CANDY BAR CIRCULAR*//*CONTENIDO GALERIA CANDY BAR CIRCULAR*/
/*.serv-contenido__portafolio--candyBarCompletoCircular :nth-child(5) {                   
    
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}
.serv-contenido__portafolio--candyBarCompletoCircular :nth-child(6) {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}
.serv-contenido__portafolio--candyBarCompletoCircular :nth-child(7) {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}
.serv-contenido__portafolio--candyBarCompletoCircular :nth-child(8) {
grid-column: 1 / 2;
grid-row: 4 / 5;
}
.serv-contenido__portafolio--candyBarCompletoCircular :nth-child(9) {
    grid-column: 2/ 3;
    grid-row: 4 / 5;
    }
/*FIN CONTENIDO GALERIA CANDY BAR CIRCULAR*//*FIN CONTENIDO GALERIA CANDY BAR CIRCULAR*//*FIN CONTENIDO GALERIA CANDY BAR CIRCULAR*/

/*CONTENIDO PIÑATAS*//*CONTENIDO PIÑATAS*//*CONTENIDO PIÑATAS*//*CONTENIDO PIÑATAS*//*CONTENIDO PIÑATAS*//*CONTENIDO PIÑATAS*//*CONTENIDO PIÑATAS*/
/*CONTENIDO PIÑATAS*//*CONTENIDO PIÑATAS*//*CONTENIDO PIÑATAS*//*CONTENIDO PIÑATAS*//*CONTENIDO PIÑATAS*//*CONTENIDO PIÑATAS*//*CONTENIDO PIÑATAS*/
.valores__piñatas {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
}    
.serv-contenido__portafolio--piñatas p {
    color: white;
    font-size: 2.5rem;
    text-shadow: 1px 2px rgb(11, 10, 11);   
    background-color:rgba(192, 255, 200, 0.605) ;
    border-radius: 1.5rem;
    height: 100%;
    margin: 0;
}
.serv-contenido__portafolio--piñatas img:hover {
    transform: scale(1.5);
    transition: all 300ms;
}
/*FIN CONTENIDO PIÑATAS*//*FIN CONTENIDO PIÑATAS*//*FIN CONTENIDO PIÑATAS*//*FIN CONTENIDO PIÑATAS*//*FIN CONTENIDO PIÑATAS*//*FIN CONTENIDO PIÑATAS*//*FIN CONTENIDO PIÑATAS*/
/*FIN CONTENIDO PIÑATAS*//*FIN CONTENIDO PIÑATAS*//*FIN CONTENIDO PIÑATAS*//*FIN CONTENIDO PIÑATAS*//*FIN CONTENIDO PIÑATAS*//*FIN CONTENIDO PIÑATAS*//*FIN CONTENIDO PIÑATAS*/

.serv-contenido__portafolio--piñatas img , .serv-contenido__portafolio--candyBarCompletoSemiOvalo img , .serv-contenido__portafolio--candyBarCompletoCircular img{
    background-color:rgba(255, 192, 203, 0.427) ;
    border-radius: 1.5rem;
    height: 100%;
    width: 100%;
}



.serv-contenido__portafolio--candyBarCompletoSemiOvalo img:hover, .serv-contenido__portafolio--candyBarCompletoCircular img:hover {   
    transform: scale(1.5);
    transition: all 300ms;
    background-color: rgba(250, 246, 247, 0.777);
    -webkit-box-shadow: 2px 1px 20px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 1px 20px -6px rgba(0,0,0,0.75);
    box-shadow: 2px 1px 20px -6px rgba(0,0,0,0.75);


}
/*.serv-contenido__portafolio--piñatas :nth-child(2), .serv-contenido__portafolio--piñatas :nth-child(3), .serv-contenido__portafolio--piñatas :nth-child(4), .serv-contenido__portafolio--piñatas :nth-child(5) {
    height: 100%;
    width: 100%;

}*/
.serv-contenido__portafolio--candyBarCompletoCircular h2, .serv-contenido__portafolio--piñatas h2 {
    grid-column: 1 / 5;



}


/**FIN___STILOS PORTAFOLIO**//**FIN___STILOS PORTAFOLIO**//**FIN___STILOS PORTAFOLIO**//**FIN___STILOS PORTAFOLIO**/
/**FIN___STILOS PORTAFOLIO**//**FIN___STILOS PORTAFOLIO**//**FIN___STILOS PORTAFOLIO**//**FIN___STILOS PORTAFOLIO**/
/**FIN___STILOS PORTAFOLIO**//**FIN___STILOS PORTAFOLIO**//**FIN___STILOS PORTAFOLIO**//**FIN___STILOS PORTAFOLIO**/
/**FOOTER**/

.footer__icon--fondo {
    background-color: rgba(230, 234, 235, 0.948);
    border-radius: 50%;
    width: 6rem ;
    height: 6rem;
}
.footer__icon {
    height: 2rem;
    width: 2rem;

}

footer {
    width: 100%;
    height: 100%;
    margin-top: 40px;
    height: auto;
    width: auto;
  
    padding-top: 0rem;
    padding-bottom: 1rem;
    font-size: 1.3rem;

    color:#eeebf2f1;
    text-shadow: 1px 2px rgb(11, 10, 11);
    font-family: 'Harlow-Solid-Italic';
}
.footer-div {
    background: url(globos.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
.footer-fondo-color {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: rgba( 0,0,0, .27 );
    width: 100%;
    height: 100%;
    background-size: cover;
}

.div-footer-redes img:hover {

transition: all 100ms;
transform: scale(1.65);
}


@media (max-width: 1085px) {

    .boton__redes {
        position: fixed;
        top: 80px;
        right: 0px;
        transform: scale(0.7);
    }
    .serv-contenido {
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100%;
        font-size: 1rem;
        
    }
    .contenedor__campo {
        display: flex;
        flex-direction: column;
    }
    .serv-contenido__portafolio--piñatas img:hover, .serv-contenido__portafolio--candyBarCompletoCircular img:hover, .serv-contenido__portafolio--candyBarCompletoSemiOvalo img:hover, .box:hover {
        transform: none;}
}
@media (max-width: 968px) {
    .serv-contenido__portafolio--candyBarCompletoSemiOvalo, .serv-contenido__portafolio--candyBarCompletoCircular, .serv-contenido__portafolio--piñatas {
        display: grid;
        grid-template-columns: 1fr 1fr;
        
    }

    .serv-contenido__portafolio--piñatas img:hover, .serv-contenido__portafolio--candyBarCompletoCircular img:hover, .serv-contenido__portafolio--candyBarCompletoSemiOvalo img:hover, .box:hover {
        transform: none;
    }
}
/*TAMAÑO TABLET*//*TAMAÑO TABLET*//*TAMAÑO TABLET*//*TAMAÑO TABLET*//*TAMAÑO TABLET*//*TAMAÑO TABLET*//*TAMAÑO TABLET*//*TAMAÑO TABLET*/
@media (max-width: 650px) {

    .serv-contenido h2 {
        font-size: 1.6rem;
    }
    .serv-contenido {

    }
    
    .container-serv {
        width: 90%;
        justify-content: center;
    }
    .serv-contenido__portafolio{
        display: flex;
        flex-direction: column;
    }
    .serv-contenido__portafolio:nth-child(odd){
        display: flex;
        flex-direction: column;
    }
    .serv-contenido__portafolio:nth-child(even){
        display: flex;
        flex-direction: column;
        
    }
    .serv-contenido__portafolio--piñatas, .serv-contenido__portafolio--candyBarCompletoCircular, .serv-contenido__portafolio--candyBarCompletoSemiOvalo {
        display: flex;
        flex-direction: column;
        transform: none;
        gap: 10px 40px
    
    }
    .serv-contenido__portafolio--piñatas img:hover, .serv-contenido__portafolio--candyBarCompletoCircular img:hover, .serv-contenido__portafolio--candyBarCompletoSemiOvalo img:hover, .box:hover {
        transform: none;
    }
    .box {
        padding: 0px;
        margin: 10px;
    }
    .logo {
        height: 8rem;
    }
    .nav-bar2 {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
    }    
    .nav-bar2 a {
        font-size: 1.2rem;
    }   
    .span1 {
    font-size: 1rem;
    }
    .form-contacto {
        display: flex;
        flex-direction: column;
    }
    .contenedor__campo {
        display: flex;
        flex-direction: column;
    }
    .boton__redes {
        position: fixed;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        top: 80px;
        left: 0px;
        transform: scale(0.5);
        margin:0rem 1rem;
    }
    .serv-contenido__portafolio--piñatas a {
        font-size: 1.4rem;
        font-weight: 700;
        
    }
    .serv-contenido__portafolio--piñatas a:hover{
        transform: scale(1.4);
        transition: all 200ms;
    }
    .mini-bar__portafolio a:hover {
        transform: scale(1.14);
        transition: all 200ms;
    }
    .mini-bar__portafolio, .mini-bar__portafolio a {


        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
        font-size: 1.2rem;
        text-shadow: 2px 1px rgba(0, 0, 0, 0.319);

    } 
}

/*FIN TAMAÑO TABLET*//*FIN TAMAÑO TABLET*//*FIN TAMAÑO TABLET*//*FIN TAMAÑO TABLET*//*FIN TAMAÑO TABLET*//*FIN TAMAÑO TABLET*//*FIN TAMAÑO TABLET*/